:root {
  /* colors */
  --primary-color: hsl(233, 14%, 13%);
  --navlink-color: hsl(0, 0%, 85%);
  --background-logo: hsl(218, 54%, 28%);
  --secondary-color: #ef3c39;
  --color: #b0b2c3;

  /* font sizes */
  --xlarge-font: 72px;
  --large-font: 48px;
  --med-font: 36px;
  --small-font: 20px;
  --xsmall-font: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  background: url(../img/BackgoundLogo.png) no-repeat center;
  background-color: var(--primary-color);
  height: 100vh;
}

.container {
  padding: 0.5% 15%;
}

/* navbar styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  z-index: 999;
  height: 8vh;
  background: var(--secondary-color);
  transition: 0.6s;
  width: 100%;
}

.navbar.sticky ul li a {
  color: hsl(0, 0%, 0%);
}

.navbar .nav__links {
  display: flex;
  gap: 4rem;
}

.navbar .nav__links li {
  list-style: none;
}

.navbar .nav__links li a {
  color: var(--navlink-color);
  font-size: var(--small-font);
  font-weight: 500;
}

.navbar .nav__links li a:hover {
  color: #fff;
}

/* home styling */

.home-content {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  font-size: var(--med-font);
  color: #fff;
}

.home-content .text-1 span {
  color: var(--secondary-color);
  font-size: var(--large-font);
  position: relative;
}

.home-content .text-2 {
  font-size: var(--small-font);
}

.resume {
  position: relative;
  width: max-content;
  margin-top: 2rem;
  font-size: var(--small-font);
  color: #fff;
  overflow: hidden;
  padding: 10px 20px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(3rem);
  transition: 0.5s;
  animation: fadeUp 2s ease 2s forwards;
}

.resume:hover {
  background: var(--secondary-color);
  box-shadow: 0 0 50px var(--secondary-color);
  transition-delay: 0.5s;
}

.resume::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.resume:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.resume:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}

.resume::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.home-content .text-1 span::before,
.home-content .text-1 span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-content .text-1 span::before {
  background: var(--primary-color);
  animation: typing 4s steps(7) 1s infinite;
}

.home-content .text-1 span::after {
  width: 0.075em;
  background: black;
  animation: typing 4s steps(7) 1s infinite, blinking 750ms steps(7) infinite;
}

.mouse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 90%;
  left: 53%;
}

.mouse-container h4 {
  font-size: var(--xsmall-font);
  color: #fff;
}

.mouse-container .mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.mouse-wheel {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: auto;
  animation: wheels 1s linear infinite;
}

/* about me styling */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: hsl(234, 14%, 73%);
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--med-font);
  color: #fff;
  font-weight: 500;
}

.section-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.about .left-container {
  width: 600px;
}

.about .left-container p {
  font-size: var(--small-font);
  text-align: left;
}

.about .right-container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  /* flex-wrap: wrap; */
}

.about .right-container .logo-container {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 30px;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}

.about .right-container img {
  width: 75px;
  height: 75px;
}

.about .right-container p {
  font-size: var(--small-font);
  font-weight: 500;
  text-transform: uppercase;
}

/* project styling */

.project {
  position: relative;
  height: 100vh;
  background: var(--primary-color);
}

.project .title p {
  font-size: var(--small-font);
  font-weight: 500;
}

.project .portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image {
  height: 30rem;
  background-color: var(--color);
  margin-bottom: 2.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
}

.portfolio-card:hover .card-image,
.portfolio-card:focus .card-image {
  background-color: var(--secondary-color);
}

.card-heading {
  color: #fff;
}

.card-title {
  font-size: 2rem;
}

.card-subtitle {
  font-size: 1.4rem;
  opacity: 0.8;
}

.large-button-container {
  display: flex;
}

.large-button {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  color: #fff;
}

.button-fill {
  position: relative;
  outline: 2px solid var(--color);
  transition: color 0.25s;
  overflow: hidden;
}

.button-fill:hover,
.button-fill:focus {
  color: var(--secondary-color);
}

.button-fill::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.large-button.button-fill::before {
  border-radius: 50%;
}

.button-fill:hover::before,
.button-fill:focus::before {
  transform: scale(1);
}

/* contact styling */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: var(--color);
}

.contact .contact-title {
  position: absolute;
  top: 5%;
  left: 45%;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--med-font);
  color: #fff;
  font-weight: 500;
}

.contact .title p {
  font-size: var(--small-font);
  font-weight: 500;
}

.contact-form p {
  position: absolute;
  top: 20%;
  left: 65.7%;
  text-align: justify;
  font-size: var(--xsmall-font);
  color: #fff;
  transform: translate(-75%, -35%);
}

.form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 600px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  background: var(--secondary-color);
  grid-gap: 16px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.2);
}

.form .element {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form .element label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: var(--xsmall-font);
  font-weight: 500;
}

.form .element input,
.form textarea {
  border-radius: 8px;
  padding: 12px 16px;
  background: #f3f3f3;
}

.submit-c {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.submit-form {
  cursor: pointer;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

/* keyframes */

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
}

@keyframes blinking {
  to {
    background: transparent;
  }
}

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wheels {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
